
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile Layout</h2>

@Html.ActionLink("Info", "Index", "Info", new { Area = "User", username = ViewBag.Username }, new { @class = "btn btn-default" })
@Html.ActionLink("Series", "Index", "Series", new { Area = "User", username = ViewBag.Username }, new { @class = "btn btn-default" })
@Html.ActionLink("Stories", "Index", "Stories", new { Area = "User", username = ViewBag.Username }, new { @class = "btn btn-default" })

@RenderBody()
