@model Teller.Web.Areas.User.ViewModels.EditUserProfileViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Profile</h2>

@using(Html.BeginForm("Edit", "Profile", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.Motto, new { @class = "form-control" })
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control"})
    
}