@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>This project was written for the ASP.NET MVC course at Telerik Academy by me - Mitko Nikolov.</h3>
<h3>You can contact me at this e-mail: <a href="mailto:mitko.nikoloff@gmail.com">'click'</a></h3>
