@model Teller.Web.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teller <small>Tell a story</small></h1>
</div>

<div class="well">
    <h4 class="lead">Most commented stories this week</h4>
    @Html.Partial("_StorySummaryPartial", Model.MostCommentedStoriesLastWeek)
</div>

<div class="well">
    <h4 class="lead">Most voted on stories this week</h4>
    @Html.Partial("_StorySummaryPartial", Model.MostVotedStoriesLastWeek)
</div>

<div class="well">
    <h4 class="lead">Most commented stories ever</h4>
    @Html.Partial("_StorySummaryPartial", Model.MostCommentedStoriesEver)
</div>

<div class="well">
    <h4 class="lead">Most voted on stories ever</h4>
    @Html.Partial("_StorySummaryPartial", Model.MostVotedStoriesEver)
</div>