@model Teller.Web.ViewModels.Like.LikeViewModel

<div>
    <div class="row">
        <div class="pull-left col-sm-12">
            @Model.DislikesCount <span class="glyphicon glyphicon-thumbs-down"></span> | @Model.LikesCount <span class="glyphicon glyphicon-thumbs-up"></span>
        </div>
    </div>
</div>
