@model Teller.Web.ViewModels.Search.SearchUserViewModel

<div class="text-center">
    @*<div class="col-sm-2">
        <img src="@Model.AvatarPath" alt="@Model.Username" />
    </div>*@
    <h4>
        @Html.ActionLink(Model.Username, "Index", "Info", new { Area = "User", id = Model.Username }, new { })
    </h4>
</div>
