@model Teller.Web.ViewModels.Search.SearchUserViewModel

<div class="text-center">
    @*<div class="col-md-2">
            <img src="@user.AvatarPath" alt="@user.Username" />
        </div>*@
    <h4>
        @Html.ActionLink(Model.Username, "Info", "Profile", new { Area = "User", username = Model.Username }, new { Area = "User" })
    </h4>
</div>
