@model Teller.Web.ViewModels.Search.SearchSeriesViewModel
@using Teller.Web.Infrastructure
@{
    var urlGenerator = new UrlGenerator();
}

<div>
    <h4>
        @Html.ActionLink(Model.Title, "Index", "Series", new { Area = "", id = urlGenerator.GenerateUrlId(Model.Id, Model.Title) }, new { })
        <br />
        <small> (@Model.Genre)</small>
    </h4>
    <small>@Html.ActionLink(Model.Author, "Index", "Series", new { Area = "User", id = Model.Author }, new { })</small>
</div>
