@using Teller.Web.Areas.Admin.ViewModels.Comment
@{
    ViewBag.Title = "Administration - Comments";
    const string ControllerName = "Comments";
}

@(Html.Kendo()
    .Grid<CommentViewModel>()
    .Name("Grid")
    .Columns(cols =>
    {
        cols.Bound(c => c.Author)
            .Width(150)
            .ClientTemplate("<a href=/User/Info/#= Author #>#= Author #</a>");
        cols.Bound(c => c.Content)
            .Width(350)
            .HtmlAttributes(new { style = "max-width: 100%; -ms-word-break: break-word; word-break: break-word;" });
        cols.Bound(c => c.IsFlagged)
            .Width(120);
        cols.Bound(c => c.Published)
            .Width(120)
            .ClientTemplate("#= kendo.toString(Published, 'dd.MM.yyyy')#");
        cols.Bound(c => c.StoryTitle)
            .Width(200);
        cols.Bound(c => c.LikesCount)
            .Width(100);
        cols.Command(com => com.Edit())
            .Title("Edit");
        cols.Command(com => com.Destroy())
            .Title("Delete")
            .Hidden()
            .IncludeInMenu(true);
    })
    .ColumnMenu()
    .Editable(edit => edit.Mode(GridEditMode.InLine))
    .Pageable(page => page.Refresh(true))
    .Sortable()
    .Groupable()
    .Filterable()
    .DataSource(data =>
        data.Ajax()
            .Model(m =>
            {
                m.Id(u => u.Id);
                m.Field(u => u.Author).Editable(false);
                m.Field(u => u.Published).Editable(false);
                m.Field(u => u.StoryTitle).Editable(false);
                m.Field(u => u.LikesCount).Editable(false);
            })
            .Read(read => read.Action("Read", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(destroy => destroy.Action("Destroy", ControllerName))
            .PageSize(10))
)
