@model Teller.Web.ViewModels.Home.ErrorViewModel
@{
    ViewBag.Title = "Oops";
}

<div class="jumbotron">
    <h1>Oops! An error occurred</h1>
    <p class="lead">We are truly sorry for the inconvenience.</p>
    <p>
        @Html.ActionLink("« Go Home", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })
    </p>
    @*<p>@Model.Message</p>
    <p>@Model.StackTrace</p>*@
</div>
