@model Teller.Web.ViewModels.Home.ErrorViewModel
@{
    ViewBag.Title = "NotFound";
}

<div class="jumbotron">
    <h1>A 404?!</h1>
    <p class="lead">It seems we have misplaced the content you are looking for... Either that or you're looking for the one thing we cannot give you.</p>
    <p>
        @Html.ActionLink("« Go Home", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })
    </p>
    @*<p>@Model.Message</p>
    <p>@Model.StackTrace</p>*@
</div>
