
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administration Layout</h2>

@Html.ActionLink("Users", "Index", "AdminUsers", new { Area = "Admin" }, new { @class = "btn btn-default" })
@Html.ActionLink("Stories", "Index", "AdminStories", new { Area = "Admin" }, new { @class = "btn btn-default" })
@Html.ActionLink("Comments", "Index", "AdminComments", new { Area = "Admin" }, new { @class = "btn btn-default" })

@RenderBody()
