@model IEnumerable<Teller.Web.ViewModels.UserFeedStory>
@{
    ViewBag.Title = "Read later";
    var pager = new Teller.Web.ViewModels.FeedPagerViewModel()
    {
        Area = "",
        Action = "ReadLater",
        Controller = "Feed",
        PagesCount = (int)ViewBag.Pages,
        Page = (int)ViewBag.Page,
        Username = ViewBag.Username
    };
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="well-sm">
            <div class="row">
                <h3 class="lead">
                    <span class="pull-left">
                        Saved for later
                    </span>
                    @if(ViewBag.Pages > 1)
                    {
                        @Html.Partial("_FeedPager", pager)
                    }
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="well">
                @Html.Partial("_FeedStories", Model)
            </div>
        </div>        @if(ViewBag.Pages > 1)
        {
            <div class="well-sm">
                <div class="row">
                    <h3 class="lead">
                        @Html.Partial("_FeedPager", pager)
                    </h3>
                </div>
            </div>
        }
    </div>
</div>

