@model IEnumerable<Teller.Web.ViewModels.Search.SearchSeriesViewModel>

<div class="row">
    @if(Model.Count() == 0)
    {
        <h3 class="lead text-center">
            No series
        </h3>
    }
    else
    {
        int counter = 0;
        foreach(var series in Model)
        {
            counter++;

            <div class="col-sm-4">
                @Html.DisplayFor(m => series)
            </div>
        
            if(counter % 3 == 0)
            {
                @Html.Raw("</div><p></p><div class=\"row\">")
            }
        }
    }
</div>
