@model IEnumerable<SelectListItem>
@using Teller.Web.Areas.Admin.ViewModels.User
@{
    ViewBag.Title = "Administration - Users";
    const string ControllerName = "Users";
}

@(Html.Kendo()
    .Grid<UserViewModel>()
    .Name("Grid")
    .Columns(cols =>
    {
        cols.Bound(u => u.Username)
            .Width(120)
            .ClientTemplate("<a href=/User/Info/#= Username #>#= Username #</a>");
        cols.Bound(u => u.Email)
            .Width(120)
            .ClientTemplate("<a href=mailto:#= Email #>#= Email #</a>");
        cols.Bound(u => u.RegisteredOn)
            .Width(120)
            .ClientTemplate("#= kendo.toString(RegisteredOn, 'dd.MM.yyyy')#");
        cols.Bound(u => u.CommentViolations)
            .Width(120);
        cols.Bound(u => u.StoryViolations)
            .Width(150);
        cols.Bound(u => u.AvatarPath)
            .Width(250)
            .ClientTemplate("<a href=#= AvatarPath #>#= AvatarPath #</a>");
        cols.ForeignKey(u => u.RoleId, Model, "Value", "Text")
            .Title("Role")
            .Width(120);
        cols.Command(com => com.Edit())
            .Title("Edit");
        cols.Command(com => com.Destroy())
            .Title("Delete")
            .Hidden()
            .IncludeInMenu(true);
    })
    .ColumnMenu()
    .Editable(edit => edit.Mode(GridEditMode.InLine))
    .Pageable(page => page.Refresh(true))
    .Sortable()
    .Groupable()
    .Filterable()
    .DataSource(data =>
        data.Ajax()
            .Model(m =>
            {
                m.Id(u => u.Id);
                m.Field(u => u.RoleId);
                m.Field(u => u.Username).Editable(false);
                m.Field(u => u.Email).Editable(false);
                m.Field(u => u.RegisteredOn).Editable(false);
            })
            .Read(read => read.Action("Read", ControllerName))
            //.Create(create => create.Action("Create", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(destroy => destroy.Action("Destroy", ControllerName))
            .PageSize(10))
)
