@model IEnumerable<SelectListItem>
@using Teller.Web.Areas.Admin.ViewModels.Story
@{
    ViewBag.Title = "Administration - Stories";
    const string ControllerName = "Stories";
    var url = new Teller.Web.Infrastructure.UrlGeneratotrs.UrlGenerator();
}

@(Html.Kendo()
    .Grid<StoryViewModel>()
    .Name("Grid")
    .Columns(cols =>
    {
        cols.Bound(u => u.Author)
            .Width(100)
            .ClientTemplate("<a href=/User/Info/#= Author #>#= Author #</a>");
        cols.Bound(u => u.Title)
            .Width(100);
        cols.Bound(u => u.Content)
            .ClientTemplate("#= Content.substring(0, 150) #...");
        cols.Bound(u => u.IsFlagged)
            .Width(100);
        cols.Bound(u => u.PicturePath)
            .Width(100)
            .ClientTemplate("<a href=#= PicturePath #>Image</a>")
            .Hidden()
            .IncludeInMenu(true);
        cols.Bound(u => u.DatePublished)
            .Width(100)
            .ClientTemplate("#= kendo.toString(DatePublished, 'dd.MM.yyyy')#");
        cols.ForeignKey(u => u.GenreId, Model, "Value", "Text")
            .Title("Genre")
            .Width(120);
        cols.Bound(u => u.Series)
            .Width(100)
            .Hidden()
            .IncludeInMenu(true);
        cols.Bound(u => u.CommentsCount)
            .Width(100)
            .Hidden()
            .IncludeInMenu(true);
        cols.Bound(u => u.ViewsCount)
            .Width(100)
            .Hidden()
            .IncludeInMenu(true);
        cols.Bound(u => u.LikesCount)
            .Width(100)
            .Hidden()
            .IncludeInMenu(true);
        cols.Command(com => com.Edit())
            .Title("Edit");
        cols.Command(com => com.Destroy())
            .Title("Delete")
            .Hidden()
            .IncludeInMenu(true);
    })
    .ColumnMenu()
    .Editable(edit => edit.Mode(GridEditMode.InLine))
    .Pageable(page => page.Refresh(true))
    .Sortable()
    .Groupable()
    .Filterable()
    .DataSource(data =>
        data.Ajax()
            .Model(m =>
            {
                m.Id(u => u.Id);
                m.Field(u => u.Author).Editable(false);
                m.Field(u => u.ViewsCount).Editable(false);
                m.Field(u => u.DatePublished).Editable(false);
                m.Field(u => u.Series).Editable(false);
                m.Field(u => u.CommentsCount).Editable(false);
                m.Field(u => u.LikesCount).Editable(false);
            })
            .Read(read => read.Action("Read", ControllerName))
            //.Create(create => create.Action("Create", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(destroy => destroy.Action("Destroy", ControllerName))
            .PageSize(10))
)
